$background: #000000;
$background-negative: #ffffff;
$background-primary: #552453;
$background-secondary: #ffffff;
$background-tertiary: #ffffff;
// $background-quaternary: #ffffff;
// $background-quinary: #ffffff;
// $background-senary: #ffffff;
$background-disabled: #ffffff;
$background-dimmed: rgba(#ffffff, 0.08);
$foreground: #ffffff;
$foreground-negative: #000000;
$foreground-primary: #552453;
$foreground-secondary: #000000;
$foreground-tertiary: #000000;
// $foreground-quaternary: #000000;
// $foreground-quinary: #000000;
// $foreground-senary: #000000;
$foreground-disabled: #ffffff;
$foreground-dimmed: rgba(#ffffff, 0.15);
$border: #000000;
$shadow: rgba(0, 0, 0, .65);
$black-10: rgba(16, 16, 16, .1);
$black-20: rgba(16, 16, 16, .2);
$black-30: rgba(16, 16, 16, .3);
$black-40: rgba(16, 16, 16, .4);
$black-50: rgba(16, 16, 16, .5);
$black-60: rgba(16, 16, 16, .6);
$black-70: rgba(16, 16, 16, .7);
$black-80: rgba(16, 16, 16, .8);
$black-90: rgba(16, 16, 16, .9);
