<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<meta charset="utf-8" />
	<base href="<!--@@var=baseHref-->">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="Content-Language" content="it" />
	<meta name="robots" content="noindex,nofollow" />
	<title>Tau Marin Urban Contest</title>
	<meta name="description" content="Tutti i prodotti per l&#039;igiene orale per adulti e bambini. Dal filo interdentale, agli scovolini, al Kit per la cura dei tuoi denti, ovunque tu sia." />
	<meta name="robots" content="noindex, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
	<meta property="og:locale" content="it_IT" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Tau Marin Urban Contest" />
	<meta property="og:description" content="Tutti i prodotti per l&#039;igiene orale per adulti e bambini. Dal filo interdentale, agli scovolini, al Kit per la cura dei tuoi denti, ovunque tu sia." />
	<meta property="og:url" content="https://actarian.github.io<!--@@var=baseHref-->" />
	<meta property="og:site_name" content="Tau Marin Urban Contest" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:description" content="Il sito ufficiale di tau-marin con tutti i prodotti per la cura dei tuoi denti: dai dentifrici agli spazzolini, dai fili interdentali ai kit di viaggio" />
	<meta name="twitter:title" content="Tau Marin Urban Contest" />
	<meta name="twitter:image" content="<!--@@var=baseHref-->img/icons/android-icon-192x192.png" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="apple-mobile-web-app-title" content="tau-marin">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="<!--@@var=baseHref-->img/icons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel='shortlink' href='https://actarian.github.io<!--@@var=baseHref-->' />
	<link rel="shortcut icon" href="<!--@@var=baseHref-->img/icons/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="57x57" href="<!--@@var=baseHref-->img/icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="<!--@@var=baseHref-->img/icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="<!--@@var=baseHref-->img/icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="<!--@@var=baseHref-->img/icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="<!--@@var=baseHref-->img/icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="<!--@@var=baseHref-->img/icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="<!--@@var=baseHref-->img/icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="<!--@@var=baseHref-->img/icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="<!--@@var=baseHref-->img/icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="<!--@@var=baseHref-->img/icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="<!--@@var=baseHref-->img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="<!--@@var=baseHref-->img/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="<!--@@var=baseHref-->img/icons/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="<!--@@var=baseHref-->img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="<!--@@var=baseHref-->img/icons/favicon-16x16.png">
	<!-- <link rel="manifest" href="!--@@var=baseHref--img/icons/manifest.json"> -->
	<!-- <link rel="mask-icon" href="!--@@var=baseHref--img/icons/safari-pinned-tab.svg" color="#5bbad5"> -->
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<meta name="description" content="Tau Marin Urban Contest">
	<meta name="apple-mobile-web-app-title" content="Tau Marin Urban Contest">
	<meta name="application-name" content="Tau Marin Urban Contest">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap" rel="stylesheet">
	<!-- <link rel="stylesheet" href="--@@var=baseHref--css/vendors.min.css" /> -->
	<link rel="stylesheet" href="<!--@@var=baseHref-->css/main.min.css" />
	<!-- @@placeholder= css -->
</head>

<body>
	<!-- @@include ./shared/svg.html -->
	<div class="page page--tm-urban-edition" id="locomotive-scroll">
		<!-- @@include ./shared/header.html -->
		<!-- @@placeholder= main -->
		<!-- @@include ./shared/footer.html -->
	</div>
	<!--<script src="--@@var=baseHref--js/vendors.min.js"></script>-->
	<script src="<!--@@var=baseHref-->js/main.js"></script>
	<!-- @@placeholder= js -->
</body>

</html>
