<!-- footer -->
<footer class="footer">
	<div class="group--menu">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="group--logo">
						<div class="logo">
							<img src="https://www.tau-marin.it/contrib/uploads/2019/09/logo-alfasigma.png" alt="Alfasigma">
						</div>
						<div class="pay-off">
							<i>Farmaceutica per passione</i>
						</div>
					</div>
				</div>
				<div class="col-md-6 flex-right">
					<ul class="nav--social">
						<li class="nav__item"><span>Segui tau-marin</span></li>
						<li class="nav__item"><a href="https://www.instagram.com/tau_marin/" target="_blank"><svg class="icon icon--instagram"><use xlink:href="#instagram"></use></svg></a></li>
						<li class="nav__item"><a href="https://www.facebook.com/taumarin/" target="_blank"><svg class="icon icon--facebook"><use xlink:href="#facebook"></use></svg></a></li>
					</ul>
					<!--
				<div class="group--menu">
					<div class="left">
						<ul class="nav--menu">
							<li class="nav__item"><a href="https://www.tau-marin.it/lo-spazzolino/">Lo Spazzolino</a></li>
							<li class="nav__item"><a href="https://www.tau-marin.it/e-non-solo/">E non solo</a></li>
							<li class="nav__item"><a href="https://www.tau-marin.it/inclinazioni/">le Inclinazioni</a></li>
						</ul>
					</div>
					<div class="right">
						<ul class="nav--menu">
							<li class="nav__item"><a href="https://it.alfasigma.com/it/" target="_blank" rel="noopener">Azienda</a></li>
							<li class="nav__item"><a href="https://www.tau-marin.it/dove-acquistare/">Dove Acquistare</a></li>
							<li class="nav__item"><a href="https://it.alfasigma.com/contatti/" target="_blank" rel="noopener">Contatti</a></li>
						</ul>
					</div>
				</div>
				-->
				</div>
			</div>
		</div>
	</div>
	<div class="group--colophon">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<ul class="nav--colophon">
						<li class="nav__item"><span>© 2019 Alfasigma Spa. p.iva 03432221202</span></li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="nav--colophon">
						<li class="nav__item"><a href="https://www.tau-marin.it/privacy-policy/">Privacy Policy</a></li>
						<li class="nav__item"><a href="https://www.tau-marin.it/diritti-degli-interessati/">Diritti degli interessati</a></li>
						<li class="nav__item"><a href="https://www.tau-marin.it/cookie-policy/">Cookie Policy</a></li>
						<li class="nav__item"><a href="#">Regolamento</a></li>
					</ul>
				</div>
				<div class="col-md-3 flex-right">
					<ul class="nav--colophon">
						<li class="nav__item"><a href="https://www.websolute.com" target="_blank" rel="noopener">Credits</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
